@model Project_Organizer.Models.Project.Project;
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    
        <title>Dashboard</title>
    </head>

    <body>

        <div class="container-fluid">

            <h1>Dashboard</h1>

            <a href="/project/createproject">Create New Project</a>
            <br/><br/>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Project Name</th>
                        <th>Status</th>
                        <th>Created Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                @if (ViewBag.ProjectsList != null)
                {
                    @foreach (var project in ViewBag.ProjectsList)
                    {
                        <tr>
                            <td>@project.Project_Id</td>
                            <td><a href="/project/getprojectbyprojectid/@project.Project_Id">@project.Project_Name</a></td>
                            <td>
                                @if (@project.Project_Status == true)
                                {
                                    <p style="color:grey;">In Progress</p>
                                }
                                else
                                {
                                    <p style="color:grey;">Finished</p>
                                }
                            </td>
                            <td>@project.Created_Date</td>
                            <td>
                                <a href="/project/updateproject/@project.Project_Id" class="btn btn-primary" type="submit">Update</a>
                                <a href="/project/deleteprojectbyid/@project.Project_Id" class="btn btn-danger" type="submit">Delete</a>
                            </td>
                        </tr>
                    }
                }
                </tbody>
            </table>

        </div>
  
    </body>

</html>



